body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;

}
h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: brown;
}
h2{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
}
.name{
    font-weight: bold;
}
.name2{
    font-weight: bold;
    font-size: 12px;
}